# wrangling and cleaning data

In this notebook different dataframes are being prepared for merging and analysis.
Merging is done on countries ISO3 code.

Dataframes cleaned in this notebook:
<ol>
    <li> ISO3 country code </li>
    <li> Government system per country </li>
    <li> Covid19-vaccin brands used per country  </li>
    <li> Population density </li>
    <li> Government expenditure on healthcare (% GDP) </li>
    <li> Inequality per country (GINI score) </li> 
    <li> Corruption </li>
    <li> Covid19-vaccination parameters 
    <ol>
        <li> Covid-related: total_cases, total_cases_per_million, total_deaths_per_million, stringency_index (stringency of Covid-meseaures) </li>
        <li> vaccination related: total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred </li>
        <li> country related: population, population_density,gdp_per_capita, extreme_poverty, human_development_index </li>
        </ol>
        </li>
</ol>

Output: a single dataframe (also exported as CSV) that contains the data mentioned in the above dataframes.

In [1]:
import pandas as pd
import regex as re
import numpy as np

# ISO3 country code
use ISO3 country-codes and add these to the dataframes that don't have them yet, for (hopefully) smoother merging

In [2]:
ISO = pd.read_excel('./raw_data/country_ISO.xlsx')
ISO.head()

          country ISO3  Code
0     Afghanistan  AFG     4
1         Albania  ALB     8
2         Algeria  DZA    12
3  American Samoa  ASM    16
4         Andorra  AND    20

## Government per country

In [3]:
government = pd.read_excel('./raw_data/governmenttype_country_CIAdata.xlsx', header=None)

In [4]:
government.columns=["country", "system_all", "drop"]
government.head(25)

           country                                         system_all drop
0      Afghanistan                      presidential Islamic republic  NaN
1              NaN                                                NaN  NaN
2              NaN                                                NaN  NaN
3              NaN                                                NaN  NaN
4          Albania                             parliamentary republic  NaN
5              NaN                                                NaN  NaN
6              NaN                                                NaN  NaN
7              NaN                                                NaN  NaN
8          Algeria                              presidential republic  NaN
9              NaN                                                NaN  NaN
10             NaN                                                NaN  NaN
11             NaN                                                NaN  NaN
12  American Samoa  republican form of government with separate ex...  NaN
13             NaN                                                NaN  NaN
14             NaN                                                NaN  NaN
15             NaN                                                NaN  NaN
16         Andorra  parliamentary democracy (since March 1993) tha...  NaN
17             NaN                                                NaN  NaN
18             NaN                                                NaN  NaN
19             NaN                                                NaN  NaN
20          Angola                              presidential republic  NaN
21             NaN                                                NaN  NaN
22             NaN                                                NaN  NaN
23             NaN                                                NaN  NaN
24        Anguilla  parliamentary democracy (House of Assembly); s...  NaN

In [5]:
government.drop(columns =["drop"], inplace=True)

#### drop all rows that contains NaN's

In [6]:
government = government.dropna().reset_index()
government.head()

   index         country                                         system_all
0      0     Afghanistan                      presidential Islamic republic
1      4         Albania                             parliamentary republic
2      8         Algeria                              presidential republic
3     12  American Samoa  republican form of government with separate ex...
4     16         Andorra  parliamentary democracy (since March 1993) tha...

#### in the column 'system' there is more data than necessary, seperated by ' ; '. Split this column on this deliminator

In [7]:
government[["system", "system_extra"]] = government.system_all.str.split(";", n=1, expand = True)
government.head(25)

,index,country,system_all,system,system_extra
0,0,Afghanistan,presidential Islamic republic,presidential Islamic republic,None
1,4,Albania,parliamentary republic,parliamentary republic,None
2,8,Algeria,presidential republic,presidential republic,None
3,12,American Samoa,republican form of government with separate ex...,republican form of government with separate ex...,unincorporated unorganized territory of the U...
4,16,Andorra,parliamentary democracy (since March 1993) tha...,parliamentary democracy (since March 1993) tha...,the two princes are the President of France a...
5,20,Angola,presidential republic,presidential republic,None
6,24,Anguilla,parliamentary democracy (House of Assembly); s...,parliamentary democracy (House of Assembly),self-governing overseas territory of the UK
7,28,Antarctica,-,-,None
8,30,Antigua and Barbuda,parliamentary democracy under a constitutional...,parliamentary democracy under a constitutional...,a Commonwealth realm
9,34,Argentina,presidential republic,presidential republic,None
10,38,Armenia,parliamentary democracy; note - constitutional...,parliamentary democracy,note - constitutional changes adopted in Dece...
11,42,Aruba,parliamentary democracy; part of the Kingdom o...,parliamentary democracy,part of the Kingdom of the Netherlands
12,46,Australia,federal parliamentary democracy under a consti...,federal parliamentary democracy under a consti...,a Commonwealth realm
13,50,Austria,federal parliamentary republic,federal parliamentary republic,None
14,54,Azerbaijan,presidential republic,presidential republic,None
15,58,"Bahamas, The",parliamentary democracy under a constitutional...,parliamentary democracy under a constitutional...,a Commonwealth realm
16,62,Bahrain,constitutional monarchy,constitutional monarchy,None
17,66,Bangladesh,parliamentary republic,parliamentary republic,None
18,70,Barbados,parliamentary democracy under a constitutional...,parliamentary democracy under a constitutional...,a Commonwealth realm
19,74,Belarus,"presidential republic in name, although in fac...","presidential republic in name, although in fac...",None
20,78,Belgium,federal parliamentary democracy under a consti...,federal parliamentary democracy under a consti...,None
21,82,Belize,parliamentary democracy (National Assembly) un...,parliamentary democracy (National Assembly) un...,a Commonwealth realm
22,86,Benin,presidential republic,presidential republic,None
23,90,Bermuda,parliamentary democracy; self-governing overse...,parliamentary democracy,self-governing overseas territory of the UK
24,94,Bhutan,constitutional monarchy,constitutional monarchy,None

In [8]:
government.drop(columns =["index", "system_all"], inplace=True)
government.head(10)

,country,system,system_extra
0,Afghanistan,presidential Islamic republic,None
1,Albania,parliamentary republic,None
2,Algeria,presidential republic,None
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...
4,Andorra,parliamentary democracy (since March 1993) tha...,the two princes are the President of France a...
5,Angola,presidential republic,None
6,Anguilla,parliamentary democracy (House of Assembly),self-governing overseas territory of the UK
7,Antarctica,-,None
8,Antigua and Barbuda,parliamentary democracy under a constitutional...,a Commonwealth realm
9,Argentina,presidential republic,None

In [9]:
len(government)

232

#### Add ISO3 code

In [10]:
government = pd.merge(government, ISO, how="left", on=["country"])
government.head()

,country,system,system_extra,ISO3,Code
0,Afghanistan,presidential Islamic republic,None,AFG,4.0
1,Albania,parliamentary republic,None,ALB,8.0
2,Algeria,presidential republic,None,DZA,12.0
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...,ASM,16.0
4,Andorra,parliamentary democracy (since March 1993) tha...,the two princes are the President of France a...,AND,20.0

In [11]:
missing = government[government["ISO3"].isna()]
country_no_ISO = missing["country"].tolist()
print(country_no_ISO)

#look up the ISO codes online
ISO_for_country =["AIA", "ATA", "MMR", "CPV", "COD", "COG", "CZE", "EGY", "SWZ", "ETH", "FLK", "FRO", "GGY", "VAT","HKG", "IRN", "IMN","JEY", "PRK", "KOR", "KOS", "KGZ", "LAO", "MAC", "FSM", "MNE", "MKD", "PCN", "RUS", "BLM", "SHN",  "KNA", "LCA", "MAF", "VCT", "SRB", "SVK", "SSD", "SJM", "SYR", "TLS", "TCA", "VIR", "WLF", "YEM"]

print(len(country_no_ISO), len(ISO_for_country)) # check if lists are same length

['Anguilla', 'Antarctica', 'Burma', 'Cabo Verde', 'Congo, Democratic Republic of the', 'Congo, Republic of the', 'Czechia', 'Egypt', 'Eswatini', 'Ethiopia', 'Falkland Islands (Islas Malvinas)', 'Faroe Islands', 'Guernsey', 'Holy See (Vatican City)', 'Hong Kong', 'Iran', 'Isle of Man', 'Jersey', 'Korea, North', 'Korea, South', 'Kosovo', 'Kyrgyzstan', 'Laos', 'Macau', 'Micronesia, Federated States of', 'Montenegro', 'North Macedonia', 'Pitcairn Islands', 'Russia', 'Saint Barthelemy', 'Saint Helena, Ascension, and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin', 'Saint Vincent and the Grenadines', 'Serbia', 'Slovakia', 'South Sudan', 'Svalbard', 'Syria', 'Timor-Leste', 'Turks and Caicos Islands', 'Virgin Islands', 'Wallis and Futuna', 'Yemen']
45 45

In [12]:
for i in range(len(country_no_ISO)):
    for j in range (len(government)):
        if country_no_ISO[i] == government["country"][j]:
            government.loc[j, "ISO3"] = ISO_for_country[i]

government.head(20)

,country,system,system_extra,ISO3,Code
0,Afghanistan,presidential Islamic republic,None,AFG,4.0
1,Albania,parliamentary republic,None,ALB,8.0
2,Algeria,presidential republic,None,DZA,12.0
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...,ASM,16.0
4,Andorra,parliamentary democracy (since March 1993) tha...,the two princes are the President of France a...,AND,20.0
5,Angola,presidential republic,None,AGO,24.0
6,Anguilla,parliamentary democracy (House of Assembly),self-governing overseas territory of the UK,AIA,NaN
7,Antarctica,-,None,ATA,NaN
8,Antigua and Barbuda,parliamentary democracy under a constitutional...,a Commonwealth realm,ATG,28.0
9,Argentina,presidential republic,None,ARG,32.0
10,Armenia,parliamentary democracy,note - constitutional changes adopted in Dece...,ARM,51.0
11,Aruba,parliamentary democracy,part of the Kingdom of the Netherlands,ABW,533.0
12,Australia,federal parliamentary democracy under a consti...,a Commonwealth realm,AUS,36.0
13,Austria,federal parliamentary republic,None,AUT,40.0
14,Azerbaijan,presidential republic,None,AZE,31.0
15,"Bahamas, The",parliamentary democracy under a constitutional...,a Commonwealth realm,BHS,44.0
16,Bahrain,constitutional monarchy,None,BHR,48.0
17,Bangladesh,parliamentary republic,None,BGD,50.0
18,Barbados,parliamentary democracy under a constitutional...,a Commonwealth realm,BRB,52.0
19,Belarus,"presidential republic in name, although in fac...",None,BLR,112.0

In [13]:
# drop the code column and the country-column: don't need it and it will only be in the way when merging.

government = government.drop(["Code"], axis =1)
government.head()

,country,system,system_extra,ISO3
0,Afghanistan,presidential Islamic republic,None,AFG
1,Albania,parliamentary republic,None,ALB
2,Algeria,presidential republic,None,DZA
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...,ASM
4,Andorra,parliamentary democracy (since March 1993) tha...,the two princes are the President of France a...,AND

# vaccin brands per country

In [14]:
vaccins = pd.read_excel('./raw_data/vaccinbrands_percountry_OWID.xlsx')
vaccins.head()

,Location,Source,Last observation date,Vaccines
0,Afghanistan,World Health Organization,"Jun. 2, 2021","Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
1,Albania,Ministry of Health,"Jun. 3, 2021","Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,Algeria,Ministry of Health,"Feb. 19, 2021",Sputnik V
3,Andorra,Government of Andorra,"May. 31, 2021","Oxford/AstraZeneca, Pfizer/BioNTech"
4,Angola,World Health Organization,"May. 31, 2021",Oxford/AstraZeneca

In [15]:
vaccins.drop(columns=["Source", "Last observation date"], inplace=True)
vaccins.head()

      Location                                           Vaccines
0  Afghanistan  Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...
1      Albania  Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...
2      Algeria                                          Sputnik V
3      Andorra                Oxford/AstraZeneca, Pfizer/BioNTech
4       Angola                                 Oxford/AstraZeneca

In [16]:
vaccins.groupby("Vaccines").sum()

                                                                                             Location
Vaccines
Abdala, Soberana02                                                                               Cuba
CanSino, Oxford/AstraZeneca, Pfizer/BioNTech, S...                                             Mexico
CanSino, Oxford/AstraZeneca, Sinopharm/Beijing,...                                           Pakistan
CanSino, Sinopharm/Beijing, Sinopharm/Wuhan, Si...                                              China
Covaxin, Oxford/AstraZeneca                                             Central African RepublicIndia
Covaxin, Oxford/AstraZeneca, Sinopharm/Beijing                                       ComorosMauritius
Covaxin, Oxford/AstraZeneca, Sinopharm/Beijing,...                                           Paraguay
Covaxin, Oxford/AstraZeneca, Sinopharm/Beijing,...                                               Iran
EpiVacCorona, Oxford/AstraZeneca, Sinopharm/Bei...                                       Turkmenistan
EpiVacCorona, Sputnik V                                                                        Russia
Johnson&Johnson, Moderna, Oxford/AstraZeneca, P...  AustriaBelgiumBulgariaCyprusCzechiaEstoniaFran...
Johnson&Johnson, Moderna, Oxford/AstraZeneca, P...                                              Libya
Johnson&Johnson, Moderna, Oxford/AstraZeneca, S...                                           Honduras
Johnson&Johnson, Moderna, Pfizer/BioNTech                                               United States
Johnson&Johnson, Pfizer/BioNTech                                                         South Africa
Moderna, Oxford/AstraZeneca                                                                 Guatemala
Moderna, Oxford/AstraZeneca, Pfizer/BioNTech        CanadaCroatiaEnglandFinlandGuernseyLuxembourgN...
Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, S...                                            Hungary
Moderna, Oxford/AstraZeneca, Sinopharm/Beijing,...                                              Congo
Moderna, Pfizer/BioNTech                            Bonaire Sint Eustatius and SabaCuracaoDenmarkF...
Oxford/AstraZeneca                                  AngolaAnguillaAntigua and BarbudaBahamasBangla...
Oxford/AstraZeneca, Pfizer/BioNTech                 AndorraAustraliaCape VerdeCayman IslandsCosta ...
Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/...                        AfghanistanIraqMaldivesPeru
Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/...                               United Arab Emirates
Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/...                                              Sudan
Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/...  BahrainBoliviaLebanonMoldovaMongoliaMontenegro...
Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac        BrazilChileColombiaEcuadorEl SalvadorMalaysiaN...
Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, S...    AlbaniaBosnia and HerzegovinaPhilippinesTunisia
Oxford/AstraZeneca, RBD-Dimer, Sputnik V                                                   Uzbekistan
Oxford/AstraZeneca, Sinopharm/Beijing               BelizeBruneiCameroonGuinea-BissauMauritaniaMor...
Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac                      CambodiaDominican RepublicSomalia
Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac,...                                              Egypt
Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V                      ArgentinaDjiboutiSri LankaSyria
Oxford/AstraZeneca, Sinovac                                                    BeninIndonesiaThailand
Oxford/AstraZeneca, Sinovac, Sputnik V                                              ArmeniaAzerbaijan
Oxford/AstraZeneca, Sputnik V                                               GhanaGuyanaKenyaNicaragua
Pfizer/BioNTech                                     ArubaBermudaGibraltarGreenlandKuwaitMonacoNew ...
Pfizer/BioNTech, Sinopharm/Beijing                                                        JordanMacao
Pfizer/BioNTech, Sinovac                                                              Hong KongTurkey
Pfizer/BioNTech, Sputnik V                                                                 San Marino
QazVac, Sinopharm/HayatVax, Sputnik V                                                      Kazakhstan
Sinopharm/Beijing                                                      Equatorial GuineaGabonZimbabwe
Sinopharm/Beijing, Sputnik V                                                    BelarusKyrgyzstanLaos
Sputnik V                                                                      AlgeriaGuineaVenezuela

In [17]:
len(vaccins)

214

#### column per vaccin
Make column for each vaccin and add 1 if vaccin is used in country, 0 if not used. Keep combined Vaccines-column, might also come in handy.

In [18]:
vaccins[["Sputnik", "Sinopharm", "Sinovac", "AstraZeneca", "QazVac", "Pfizer", "Dimer", "Moderna", "Johnson", "Abdala", "Soberana", "CoVaxin",
"CanSino", "EpiVacCorona"]] = ''
vaccins.head()

,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona
0,Afghanistan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",,,,,,,,,,,,,,
1,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",,,,,,,,,,,,,,
2,Algeria,Sputnik V,,,,,,,,,,,,,,
3,Andorra,"Oxford/AstraZeneca, Pfizer/BioNTech",,,,,,,,,,,,,,
4,Angola,Oxford/AstraZeneca,,,,,,,,,,,,,,

In [19]:
vaccin_brand = ["Sputnik", "Sinopharm", "Sinovac", "AstraZeneca", "QazVac", "Pfizer", "Dimer", "Moderna", "Johnson", "Abdala", "Soberana", "CoVaxin",
"CanSino", "EpiVacCorona"]

for i in range (len(vaccins)): #for every row in the dataframe
    for j in range (len(vaccin_brand)): #for every vaccin_brand
        if vaccin_brand[j] in vaccins["Vaccines"][i]: 
            vaccins[f'{vaccin_brand[j]}'][i]=1
        else:
            vaccins[f'{vaccin_brand[j]}'][i]=0

In [20]:
vaccins.head()

,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona
0,Afghanistan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,0,1,0,0,0,0,0,0,0,0
1,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",1,0,1,1,0,1,0,0,0,0,0,0,0,0
2,Algeria,Sputnik V,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Andorra,"Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,0,1,0,0,0,0,0,0,0,0
4,Angola,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [21]:
vaccins["country"] = vaccins["Location"]
vaccins.head()

,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country
0,Afghanistan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,0,1,0,0,0,0,0,0,0,0,Afghanistan
1,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",1,0,1,1,0,1,0,0,0,0,0,0,0,0,Albania
2,Algeria,Sputnik V,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Algeria
3,Andorra,"Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,0,1,0,0,0,0,0,0,0,0,Andorra
4,Angola,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Angola

#### Add ISO3 code

In [22]:
vaccins = pd.merge(vaccins, ISO, how="left", on=["country"])
vaccins.head()

,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country,ISO3,Code
0,Afghanistan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,0,1,0,0,0,0,0,0,0,0,Afghanistan,AFG,4.0
1,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",1,0,1,1,0,1,0,0,0,0,0,0,0,0,Albania,ALB,8.0
2,Algeria,Sputnik V,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Algeria,DZA,12.0
3,Andorra,"Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,0,1,0,0,0,0,0,0,0,0,Andorra,AND,20.0
4,Angola,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Angola,AGO,24.0

In [23]:
#not all countries get an ISO3-code due to spelling (mainly). Make sure to find the ISO3 column for each country
missing_vac = vaccins[vaccins["ISO3"].isna()] #create df with countries without ISO3 code
missing_vac

country_no_ISO_vac = missing_vac["country"].tolist() #put the countries in a list, for easier checking 
print(country_no_ISO) #already looked those ISOcodes up..
print(country_no_ISO_vac)

#look up the ISO codes online, make disctinct ones if they arent (england, scotland etc but also: northern cyprus (OWID_CYN in other dataframe))
ISO_for_country_vac =["AIA", "BHS", "BES", "COG", "CIV", "CUW", "CZE", "COD", "EGY","GBR_england", "SWZ", "ETH", "FLK", "GMB",  "GGY", "HKG", "IRN", "IMN", "ISR", "JEY", "KOS", "KGZ", "LAO", "MNE", "MKD", "CYN", "GBR_north_ireland", "PSE", "RUS", "KNA", "LCA", "VCT", "GBR_scotland", "SRB", "SXM", "SVK", "KOR", "SSD", "SYR", "TLS", "TCA", "GBR_wales", "WLF", "YEM"]

print(len(country_no_ISO_vac), len(ISO_for_country_vac)) # check if lists are same length

['Anguilla', 'Antarctica', 'Burma', 'Cabo Verde', 'Congo, Democratic Republic of the', 'Congo, Republic of the', 'Czechia', 'Egypt', 'Eswatini', 'Ethiopia', 'Falkland Islands (Islas Malvinas)', 'Faroe Islands', 'Guernsey', 'Holy See (Vatican City)', 'Hong Kong', 'Iran', 'Isle of Man', 'Jersey', 'Korea, North', 'Korea, South', 'Kosovo', 'Kyrgyzstan', 'Laos', 'Macau', 'Micronesia, Federated States of', 'Montenegro', 'North Macedonia', 'Pitcairn Islands', 'Russia', 'Saint Barthelemy', 'Saint Helena, Ascension, and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin', 'Saint Vincent and the Grenadines', 'Serbia', 'Slovakia', 'South Sudan', 'Svalbard', 'Syria', 'Timor-Leste', 'Turks and Caicos Islands', 'Virgin Islands', 'Wallis and Futuna', 'Yemen']
['Anguilla', 'Bahamas', 'Bonaire Sint Eustatius and Saba', 'Congo', 'Cote d’Ivoire', 'Curacao', 'Czechia', 'Democratic Republic of Congo', 'Egypt', 'England', 'Eswatini', 'Ethiopia', 'Falkland Islands', 'Gambia', 'Guernsey', 'Hong Kong', 'Iran', 'Isle of Man', 'Israel\xa0(see\xa0FAQ)', 'Jersey', 'Kosovo', 'Kyrgyzstan', 'Laos', 'Montenegro', 'North Macedonia', 'Northern Cyprus', 'Northern Ireland', 'Palestine', 'Russia', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Scotland', 'Serbia', 'Sint Maarten (Dutch part)', 'Slovakia', 'South Korea', 'South Sudan', 'Syria', 'Timor', 'Turks and Caicos Islands', 'Wales', 'Wallis and Futuna', 'Yemen']
44 44

## NOTE: IN THIS DATAFRAME, GBR IS DEVIDED INTO ENGLAND, SCOTLAND, N-IRELAND AND WALES. CHECK WHAT THE OTHER DATAFRAMES DO, FOR PROPER MERGING LATER ON (made up fake ISOcodes myself for now)

In [24]:
for i in range(len(country_no_ISO_vac)):
    for j in range (len(vaccins)):
        if country_no_ISO_vac[i] == vaccins["country"][j]:
            vaccins.loc[j, "ISO3"] = ISO_for_country_vac[i]

vaccins.head(20)

,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country,ISO3,Code
0,Afghanistan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,0,1,0,0,0,0,0,0,0,0,Afghanistan,AFG,4.0
1,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",1,0,1,1,0,1,0,0,0,0,0,0,0,0,Albania,ALB,8.0
2,Algeria,Sputnik V,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Algeria,DZA,12.0
3,Andorra,"Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,0,1,0,0,0,0,0,0,0,0,Andorra,AND,20.0
4,Angola,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Angola,AGO,24.0
5,Anguilla,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Anguilla,AIA,NaN
6,Antigua and Barbuda,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Antigua and Barbuda,ATG,28.0
7,Argentina,"Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V",1,1,0,1,0,0,0,0,0,0,0,0,0,0,Argentina,ARG,32.0
8,Armenia,"Oxford/AstraZeneca, Sinovac, Sputnik V",1,0,1,1,0,0,0,0,0,0,0,0,0,0,Armenia,ARM,51.0
9,Aruba,Pfizer/BioNTech,0,0,0,0,0,1,0,0,0,0,0,0,0,0,Aruba,ABW,533.0
10,Australia,"Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,0,1,0,0,0,0,0,0,0,0,Australia,AUS,36.0
11,Austria,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...",0,0,0,1,0,1,0,1,1,0,0,0,0,0,Austria,AUT,40.0
12,Azerbaijan,"Oxford/AstraZeneca, Sinovac, Sputnik V",1,0,1,1,0,0,0,0,0,0,0,0,0,0,Azerbaijan,AZE,31.0
13,Bahamas,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Bahamas,BHS,NaN
14,Bahrain,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",1,1,0,1,0,1,0,0,0,0,0,0,0,0,Bahrain,BHR,48.0
15,Bangladesh,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Bangladesh,BGD,50.0
16,Barbados,Oxford/AstraZeneca,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Barbados,BRB,52.0
17,Belarus,"Sinopharm/Beijing, Sputnik V",1,1,0,0,0,0,0,0,0,0,0,0,0,0,Belarus,BLR,112.0
18,Belgium,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...",0,0,0,1,0,1,0,1,1,0,0,0,0,0,Belgium,BEL,56.0
19,Belize,"Oxford/AstraZeneca, Sinopharm/Beijing",0,1,0,1,0,0,0,0,0,0,0,0,0,0,Belize,BLZ,84.0

In [25]:
vaccins.drop(columns=["Code"], inplace=True)

In [26]:
vaccins.head(2)

,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country,ISO3
0,Afghanistan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,0,1,0,0,0,0,0,0,0,0,Afghanistan,AFG
1,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",1,0,1,1,0,1,0,0,0,0,0,0,0,0,Albania,ALB

## MERGE VACCINS AND GOVERNMENT

In [27]:
merged = pd.merge(government, vaccins, how="outer", on=["ISO3"])
print("merged:", len(merged), "\ngoverment:", len(government), "\nvaccins", len(vaccins))
merged.head()

merged: 241
goverment: 232
vaccins 214

,country_x,system,system_extra,ISO3,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,...,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country_y
0,Afghanistan,presidential Islamic republic,None,AFG,Afghanistan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,...,1,0,0,0,0,0,0,0,0,Afghanistan
1,Albania,parliamentary republic,None,ALB,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",1,0,1,1,...,1,0,0,0,0,0,0,0,0,Albania
2,Algeria,presidential republic,None,DZA,Algeria,Sputnik V,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Algeria
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,parliamentary democracy (since March 1993) tha...,the two princes are the President of France a...,AND,Andorra,"Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,...,1,0,0,0,0,0,0,0,0,Andorra

In [28]:
merged[merged['Vaccines'].isna()] 

#check out countries that do have a value for vaccin, but not for government. These are eg N-Ireland, scotland wales and england

,country_x,system,system_extra,ISO3,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,...,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country_y
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Antarctica,-,None,ATA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Burkina Faso,presidential republic,None,BFA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Burundi,presidential republic,None,BDI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Chad,presidential republic,None,TCD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Christmas Island,non-self-governing overseas territory of Austr...,None,CXR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Cocos (Keeling) Islands,non-self-governing overseas territory of Austr...,None,CCK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Eritrea,presidential republic,None,ERI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Guam,republican form of government with separate ex...,unincorporated organized territory of the US ...,GUM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Haiti,semi-presidential republic,None,HTI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Holy See (Vatican City),ecclesiastical elective monarchy,"self-described as an ""absolute monarchy""",VAT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Kiribati,presidential republic,None,KIR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,"Korea, North","dictatorship, single-party state","official state ideology of ""Juche"" or ""nation...",PRK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Marshall Islands,mixed presidential-parliamentary system in fre...,None,MHL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,"Micronesia, Federated States of",federal republic in free association with the US,None,FSM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Niue,parliamentary democracy,None,NIU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Norfolk Island,non-self-governing overseas territory of Austr...,"note - the Norfolk Island Regional Council, w...",NFK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,Northern Mariana Islands,republican form of government with separate ex...,a commonwealth in political union with and un...,MNP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,Palau,presidential republic in free association with...,None,PLW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Pitcairn Islands,parliamentary democracy,None,PCN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,Puerto Rico,republican form of government with separate ex...,unincorporated organized territory of the US ...,PRI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Saint Barthelemy,parliamentary democracy (Territorial Council),overseas collectivity of France,BLM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Saint Martin,parliamentary democracy (Territorial Council),overseas collectivity of France,MAF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Saint Pierre and Miquelon,parliamentary democracy (Territorial Council),overseas collectivity of France,SPM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Svalbard,non-self-governing territory of Norway,None,SJM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,Tanzania,presidential republic,None,TZA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Virgin Islands,republican form of government with separate ex...,unincorporated organized territory of the US ...,VIR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
government[government["ISO3"]=="GBR"] #the result that gets printed, is the system that I will append to the GBR-parts

,country,system,system_extra,ISO3
220,United Kingdom,parliamentary constitutional monarchy,a Commonwealth realm,GBR

In [30]:
merged[merged['country_y'].isna()] #check for countries that do have a value for government but not for vaccins

,country_x,system,system_extra,ISO3,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,...,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country_y
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Antarctica,-,None,ATA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Burkina Faso,presidential republic,None,BFA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Burundi,presidential republic,None,BDI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Chad,presidential republic,None,TCD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Christmas Island,non-self-governing overseas territory of Austr...,None,CXR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Cocos (Keeling) Islands,non-self-governing overseas territory of Austr...,None,CCK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Eritrea,presidential republic,None,ERI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Guam,republican form of government with separate ex...,unincorporated organized territory of the US ...,GUM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Haiti,semi-presidential republic,None,HTI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Holy See (Vatican City),ecclesiastical elective monarchy,"self-described as an ""absolute monarchy""",VAT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Kiribati,presidential republic,None,KIR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,"Korea, North","dictatorship, single-party state","official state ideology of ""Juche"" or ""nation...",PRK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Marshall Islands,mixed presidential-parliamentary system in fre...,None,MHL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,"Micronesia, Federated States of",federal republic in free association with the US,None,FSM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Niue,parliamentary democracy,None,NIU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Norfolk Island,non-self-governing overseas territory of Austr...,"note - the Norfolk Island Regional Council, w...",NFK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,Northern Mariana Islands,republican form of government with separate ex...,a commonwealth in political union with and un...,MNP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,Palau,presidential republic in free association with...,None,PLW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Pitcairn Islands,parliamentary democracy,None,PCN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,Puerto Rico,republican form of government with separate ex...,unincorporated organized territory of the US ...,PRI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Saint Barthelemy,parliamentary democracy (Territorial Council),overseas collectivity of France,BLM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Saint Martin,parliamentary democracy (Territorial Council),overseas collectivity of France,MAF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Saint Pierre and Miquelon,parliamentary democracy (Territorial Council),overseas collectivity of France,SPM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Svalbard,non-self-governing territory of Norway,None,SJM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,Tanzania,presidential republic,None,TZA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Virgin Islands,republican form of government with separate ex...,unincorporated organized territory of the US ...,VIR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
for i in range (len(merged)):
    if "GBR" in merged["ISO3"][i]:
        merged["system"][i] = 'parliamentary constitutional monarchy'
        merged["system_extra"][i] = 'a Commonwealth realm'

merged[merged["system_extra"]=='a Commonwealth realm'] # check if it went alright

,country_x,system,system_extra,ISO3,Location,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,...,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country_y
220,United Kingdom,parliamentary constitutional monarchy,a Commonwealth realm,GBR,United Kingdom,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,...,1,0,1,0,0,0,0,0,0,United Kingdom
234,NaN,parliamentary constitutional monarchy,a Commonwealth realm,GBR_england,England,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,...,1,0,1,0,0,0,0,0,0,England
236,NaN,parliamentary constitutional monarchy,a Commonwealth realm,GBR_north_ireland,Northern Ireland,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,...,1,0,1,0,0,0,0,0,0,Northern Ireland
238,NaN,parliamentary constitutional monarchy,a Commonwealth realm,GBR_scotland,Scotland,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,...,1,0,1,0,0,0,0,0,0,Scotland
240,NaN,parliamentary constitutional monarchy,a Commonwealth realm,GBR_wales,Wales,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,...,1,0,1,0,0,0,0,0,0,Wales

#### Countries into 1 column.
if country_x is empty, it should take the value of country_y and vice versa.

In [32]:
merged["country_x"].sort_values()

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
236               NaN
237               NaN
238               NaN
239               NaN
240               NaN
Name: country_x, Length: 241, dtype: object

In [33]:
merged.country_x.fillna(merged.Location, inplace=True)

In [34]:
merged["country_x"].sort_values()

0            Afghanistan
1                Albania
2                Algeria
3         American Samoa
4                Andorra
             ...
240                Wales
228    Wallis and Futuna
229                Yemen
230               Zambia
231             Zimbabwe
Name: country_x, Length: 241, dtype: object

The country_y and Location column can be dropped

In [35]:
merged.drop(["country_y", "Location"], axis = 1, inplace = True)
merged.head()

,country_x,system,system_extra,ISO3,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona
0,Afghanistan,presidential Islamic republic,None,AFG,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,0,1,0,0,0,0,0,0,0,0
1,Albania,parliamentary republic,None,ALB,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",1,0,1,1,0,1,0,0,0,0,0,0,0,0
2,Algeria,presidential republic,None,DZA,Sputnik V,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,American Samoa,republican form of government with separate ex...,unincorporated unorganized territory of the U...,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,parliamentary democracy (since March 1993) tha...,the two princes are the President of France a...,AND,"Oxford/AstraZeneca, Pfizer/BioNTech",0,0,0,1,0,1,0,0,0,0,0,0,0,0

In [36]:
print(len(merged.ISO3.unique()), len(merged["ISO3"])) #damn, 2 ISO3's are not unique

241 241

# Population density, healthcare, inequality and corruption

### Population density

In [37]:
pop_dens = pd.read_excel('./raw_data/API_EN.POP.DNST_DS2_en_excel_v2_2447328.xls')
pop_dens.head()

,country,ISO3,Indicator Name,Indicator Code,2018
0,Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,588.027778
1,Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,56.937760
2,Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,24.713052
3,Albania,ALB,Population density (people per sq. km of land ...,EN.POP.DNST,104.612263
4,Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,163.842553

In [38]:
pop_dens.drop(["Indicator Name", "Indicator Code"], axis=1, inplace =True)

In [39]:
pop_dens.head()

       country ISO3        2018
0        Aruba  ABW  588.027778
1  Afghanistan  AFG   56.937760
2       Angola  AGO   24.713052
3      Albania  ALB  104.612263
4      Andorra  AND  163.842553

In [40]:
pop_dens.columns = ["country", "ISO3", "pop_dens_2018"]
pop_dens.head()

       country ISO3  pop_dens_2018
0        Aruba  ABW     588.027778
1  Afghanistan  AFG      56.937760
2       Angola  AGO      24.713052
3      Albania  ALB     104.612263
4      Andorra  AND     163.842553

In [41]:
#check is ISO3's are unique
print(len(pop_dens))
len(pop_dens.ISO3.unique())

264

264

### Healthcare (as % of GDP)

In [42]:
healthcare = pd.read_excel('./raw_data/API_SH.XPD.CHEX.GD.ZS_DS2_en_csv_v2_2449826.xlsx')
healthcare.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.561907,7.897168,8.805964,9.528878,10.105348,10.962000,11.777236,9.395727,NaN,NaN
2,Angola,AGO,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.645608,2.395750,2.732827,2.434129,2.605795,2.713150,2.791503,2.549005,NaN,NaN
3,Albania,ALB,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.795327,5.055262,5.385599,5.503493,4.896322,4.916020,5.010597,5.262714,NaN,NaN
4,Andorra,AND,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.246529,6.101503,5.987803,5.979125,6.232453,6.343493,6.544319,6.710331,NaN,NaN

In [43]:
# most recent data is from 2018. I don't want too old data, so will look at 2018, 2017, 2016 and 2015. 
# If there is no data in one of these columns, I will leave the column empty.

healthcare["HealthCare_GDP"] = ''

for i in range (len(healthcare)):
    if healthcare[2018][i] != np.nan:
        healthcare.loc[i, "HealthCare_GDP"] = healthcare[2018][i]
    elif healthcare["2017"][i] != np.nan:
        healthcare.loc[i, "HealthCare_GDP"] = healthcare[2017][i]
    elif healthcare[2016][i] != np.nan:
        healthcare.loc[i, "HealthCare_GDP"] = healthcare[2016][i]
    else:
        healthcare.loc[i, "HealthCare_GDP"] = healthcare[2015][i]

healthcare.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,HealthCare_GDP
0,Aruba,ABW,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.897168,8.805964,9.528878,10.105348,10.962000,11.777236,9.395727,NaN,NaN,9.39573
2,Angola,AGO,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.395750,2.732827,2.434129,2.605795,2.713150,2.791503,2.549005,NaN,NaN,2.54901
3,Albania,ALB,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.055262,5.385599,5.503493,4.896322,4.916020,5.010597,5.262714,NaN,NaN,5.26271
4,Andorra,AND,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.101503,5.987803,5.979125,6.232453,6.343493,6.544319,6.710331,NaN,NaN,6.71033

In [44]:
print(len(healthcare[healthcare["HealthCare_GDP"].isna()])) #leaves 31 countries without indicator.
print(len(healthcare)) #total
print("% empty:", round(((len(healthcare[healthcare["HealthCare_GDP"].isna()]) / len(healthcare))*100),2))

31
264
% empty: 11.74

In [45]:
healthcare = healthcare[['Country Name','Country Code', 'HealthCare_GDP']] #remove unnecessary columns
healthcare.rename({'Country Code': "ISO3"}, axis=1, inplace=True)
healthcare.head()

  Country Name ISO3 HealthCare_GDP
0        Aruba  ABW            NaN
1  Afghanistan  AFG        9.39573
2       Angola  AGO        2.54901
3      Albania  ALB        5.26271
4      Andorra  AND        6.71033

### Inequality (GINI-score)

In [46]:
#collist = ['Country Name',"Country Code","2000", "2005", "2014", "2015", "2016",  "2017", "2018", "2019", "2020"]
inequality = pd.read_excel('./raw_data/API_SI.POV.GINI_DS2_en_csv_v2_2445276_v2.xlsx')
inequality.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.3,NaN,NaN
3,Albania,ALB,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,29.0,NaN,34.6,32.9,33.7,33.2,NaN,NaN,NaN
4,Andorra,AND,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#check: how many different countries are in the dataframe?
len(inequality["Country Name"].unique())

264

### find newest year
melt the years to become 1 column, so you can search for the max_year using datetime.
Not all years will be relevant, I want a GINI score of maximum of 10 years old. So I will drop all columns between 1960-2011.
(index 4 to index 55)

In [48]:
#drop all old GINI-indices
inequality_10yrs = inequality.drop(inequality.iloc[:, 4:55], axis = 1)
inequality_10yrs.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Gini index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#melt the years

inequality_melt = inequality_10yrs.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
                                  var_name='Year', value_name='GINI')

In [50]:
inequality_melt.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,GINI
0,Aruba,ABW,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN
1,Afghanistan,AFG,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN
2,Angola,AGO,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN
3,Albania,ALB,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN
4,Andorra,AND,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN
5,Arab World,ARB,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN
6,United Arab Emirates,ARE,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN
7,Argentina,ARG,Gini index (World Bank estimate),SI.POV.GINI,2011,42.6
8,Armenia,ARM,Gini index (World Bank estimate),SI.POV.GINI,2011,29.4
9,American Samoa,ASM,Gini index (World Bank estimate),SI.POV.GINI,2011,NaN

In [51]:
#drop rows with NaN in GINI-column
inequality_melt.dropna(axis=0, inplace=True)
inequality_melt.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,GINI
7,Argentina,ARG,Gini index (World Bank estimate),SI.POV.GINI,2011,42.6
8,Armenia,ARM,Gini index (World Bank estimate),SI.POV.GINI,2011,29.4
12,Austria,AUT,Gini index (World Bank estimate),SI.POV.GINI,2011,30.8
15,Belgium,BEL,Gini index (World Bank estimate),SI.POV.GINI,2011,28.1
16,Benin,BEN,Gini index (World Bank estimate),SI.POV.GINI,2011,43.4

In [52]:
#check how many countries are left: 
now = len(inequality_melt["Country Name"].unique())
original = len(inequality["Country Name"].unique())

print("countries dropped:", original-now, "\npercentage dropped:", now/original*100)
#wow, that's a lot! But still. dont want to use the very-old scores :s

countries dropped: 116
percentage dropped: 56.060606060606055

In [53]:
#take the most recent year (NaN values dropped)
recent_year = inequality_melt[inequality_melt.groupby('Country Name').Year.transform('max') == inequality_melt['Year']]
recent_year.head(9)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,GINI
22,Bosnia and Herzegovina,BIH,Gini index (World Bank estimate),SI.POV.GINI,2011,33.0
42,"Congo, Rep.",COG,Gini index (World Bank estimate),SI.POV.GINI,2011,48.9
58,Algeria,DZA,Gini index (World Bank estimate),SI.POV.GINI,2011,27.6
107,India,IND,Gini index (World Bank estimate),SI.POV.GINI,2011,35.7
128,Lebanon,LBN,Gini index (World Bank estimate),SI.POV.GINI,2011,31.8
205,Senegal,SEN,Gini index (World Bank estimate),SI.POV.GINI,2011,40.3
227,Chad,TCD,Gini index (World Bank estimate),SI.POV.GINI,2011,43.3
305,"Congo, Dem. Rep.",COD,Gini index (World Bank estimate),SI.POV.GINI,2012,42.1
347,Guinea,GIN,Gini index (World Bank estimate),SI.POV.GINI,2012,33.7

In [54]:
len(recent_year["Country Name"].unique())

148

In [55]:
#see how many observations there are in each year
recent_year.groupby("Year").count()

      Country Name  Country Code  Indicator Name  Indicator Code  GINI
Year
2011             7             7               7               7     7
2012             7             7               7               7     7
2013             6             6               6               6     6
2014            13            13              13              13    13
2015            14            14              14              14    14
2016            17            17              17              17    17
2017            19            19              19              19    19
2018            43            43              43              43    43
2019            22            22              22              22    22

In [56]:
inequality_cleaned = recent_year[["Year", "GINI", "Country Name", "Country Code"]]

inequality_cleaned.rename(columns={"Year": "Year_GINI"} , inplace = True)
inequality_cleaned.head()

C:\Users\jetsa\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    Year_GINI  GINI            Country Name Country Code
22       2011  33.0  Bosnia and Herzegovina          BIH
42       2011  48.9             Congo, Rep.          COG
58       2011  27.6                 Algeria          DZA
107      2011  35.7                   India          IND
128      2011  31.8                 Lebanon          LBN

### Corruption

In [57]:
corruption = pd.read_excel('./raw_data/CPI-data.xlsx')
corruption.head()

       Country ISO3 Region  CPI score 2020
0      Denmark  DNK  WE/EU              88
1  New Zealand  NZL     AP              88
2      Finland  FIN  WE/EU              85
3    Singapore  SGP     AP              85
4       Sweden  SWE  WE/EU              85

# Vaccination data
lots of data, get rid of lots of columns that are too well explored already

In [58]:
vaccination_rate = pd.read_csv("./raw_data/owid-covid-data.csv")
vaccination_rate.groupby("location").mean()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.740426e+04,164.085653,158.149329,1.561409e+03,6.972727,6.445255,960.849154,4.215092,4.062593,40.109848,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511
Africa,1.930065e+06,10238.824268,10283.283617,5.178147e+04,275.719665,277.414341,1439.704333,7.637533,7.670636,38.625645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,4.539274e+04,292.211921,295.363837,8.662084e+02,5.434590,5.469112,15773.418570,101.540026,102.635295,300.996729,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795
Algeria,6.107552e+04,279.744635,280.534239,1.900827e+03,7.786667,7.551289,1392.795082,6.379427,6.397443,43.347347,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748
Andorra,5.352620e+03,29.908696,30.169892,7.468636e+01,0.288636,0.279178,69276.121950,387.092398,390.472499,966.626043,...,NaN,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.94,NaN
World,5.456036e+07,345176.968000,345772.277043,1.291738e+06,7425.112000,7214.936943,6999.585614,44.282998,44.359340,165.717854,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737
Yemen,2.381461e+03,16.087886,16.227651,6.123416e+02,3.304239,3.178288,79.845271,0.539468,0.544079,20.530514,...,1479.147,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470
Zambia,3.169463e+04,221.567568,219.069629,4.981352e+02,3.023310,2.924196,1724.037320,12.052236,11.916364,27.096186,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584
Zimbabwe,1.520079e+04,88.561086,89.274275,5.622528e+02,3.656036,3.657112,1022.732199,5.958514,6.006497,37.829187,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571

In [59]:
vaccination_rate.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [60]:
#select some less explored columns
collist = ['iso_code', 'continent', 'location', 'date', 'total_cases', 'total_cases_per_million',
       'total_deaths_per_million', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'stringency_index','population', 'population_density','gdp_per_capita', 'extreme_poverty', 'human_development_index']
vaccination_rate = vaccination_rate[collist]

In [61]:
vaccination_rate.groupby("location").mean().head(250)

,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
location,,,,,,,,,,,,
Afghanistan,3.740426e+04,960.849154,40.109848,0.955000,0.800000,0.264286,39.079651,3.892834e+07,54.422,1803.987,NaN,0.511
Africa,1.930065e+06,1439.704333,38.625645,0.881159,0.651232,0.264750,NaN,1.340598e+09,NaN,NaN,NaN,NaN
Albania,4.539274e+04,15773.418570,300.996729,10.774353,8.390000,6.540455,62.761703,2.877800e+06,104.871,11803.431,1.1,0.795
Algeria,6.107552e+04,1392.795082,43.347347,0.056667,NaN,NaN,71.541055,4.385104e+07,17.348,13913.839,0.5,0.748
Andorra,5.352620e+03,69276.121950,966.626043,17.581905,14.878125,5.173000,48.596469,7.726500e+04,163.755,NaN,NaN,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,NaN,NaN,NaN,47.161818,34.034545,24.066667,NaN,1.124600e+04,NaN,NaN,NaN,NaN
World,5.456036e+07,6999.585614,165.717854,6.926757,3.561135,1.798312,NaN,7.794799e+09,58.045,15469.207,10.0,0.737
Yemen,2.381461e+03,79.845271,20.530514,0.205000,0.205000,NaN,33.670815,2.982597e+07,53.508,1479.147,18.8,0.470
Zambia,3.169463e+04,1724.037320,27.096186,0.409091,0.402727,0.026667,45.202364,1.838396e+07,22.995,3689.251,57.5,0.584
Zimbabwe,1.520079e+04,1022.732199,37.829187,2.449612,1.862136,0.817703,72.743395,1.486293e+07,42.729,1899.775,21.4,0.571

In [62]:
vaccination_rate.groupby("date").mean().tail(5) # see what are the newest date in the dataframe

,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
date,,,,,,,,,,,,
2021-05-31,2.708410e+06,33959.625235,627.890891,34.197008,21.447025,13.309381,55.610538,1.101521e+08,451.912208,19079.220089,13.848413,0.721989
2021-06-01,2.715485e+06,34040.701340,629.929661,38.993058,24.844336,14.849519,55.394348,1.106641e+08,447.648985,18912.956432,13.848413,0.721989
2021-06-02,2.722866e+06,34124.222380,651.139354,41.866087,25.582636,16.040385,54.192778,1.138377e+08,453.612614,19066.281899,13.932800,0.721973
2021-06-03,2.730398e+06,34214.054070,652.577755,44.589810,27.439600,16.932632,54.192778,1.143848e+08,438.288699,19066.281899,13.932800,0.721973
2021-06-04,2.736794e+06,34319.953575,654.207714,43.924769,28.069344,15.948475,57.799231,1.154946e+08,440.722768,18901.379508,13.932800,0.721973

In [63]:
#see if all countries have values for the most recent date (answer is no: missing out on 22 countries)
vaccination_rate_june_4 = vaccination_rate[vaccination_rate["date"]=="2021-06-04"]
print(len(vaccination_rate.groupby("location")))
print(len(vaccination_rate_june_4))
print(len(vaccination_rate.groupby("location"))-len(vaccination_rate_june_4))

229
207
22

### Find the most recent date for all countries

In [64]:
#transform the "date" string into datetime object
vaccination_rate["date"] = pd.to_datetime(vaccination_rate['date'])

#test if it worked
print(type(vaccination_rate["date"][2]), "\n",(vaccination_rate["date"][2]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
 2020-02-26 00:00:00

In [65]:
newest_dates = vaccination_rate[vaccination_rate.groupby('location').date.transform('max') == vaccination_rate['date']]
newest_dates.head(9)

,iso_code,continent,location,date,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
466,AFG,Asia,Afghanistan,2021-06-04,76628.0,1968.437,78.811,NaN,NaN,NaN,NaN,3.892834e+07,54.422,1803.987,NaN,0.511
944,OWID_AFR,NaN,Africa,2021-06-04,4894158.0,3650.727,98.310,2.59,1.89,0.67,NaN,1.340598e+09,NaN,NaN,NaN,NaN
1410,ALB,Europe,Albania,2021-06-04,132372.0,45997.637,851.692,NaN,NaN,NaN,NaN,2.877800e+06,104.871,11803.431,1.1,0.795
1876,DZA,Africa,Algeria,2021-06-04,130361.0,2972.814,79.907,NaN,NaN,NaN,NaN,4.385104e+07,17.348,13913.839,0.5,0.748
2336,AND,Europe,Andorra,2021-06-04,13758.0,178062.512,1643.694,NaN,NaN,NaN,NaN,7.726500e+04,163.755,NaN,NaN,0.868
2778,AGO,Africa,Angola,2021-06-04,35307.0,1074.263,23.976,NaN,NaN,NaN,33.33,3.286627e+07,23.890,5819.495,NaN,0.581
2892,AIA,North America,Anguilla,2021-05-28,NaN,NaN,NaN,96.27,60.02,36.26,NaN,1.500200e+04,NaN,NaN,NaN,NaN
3341,ATG,North America,Antigua and Barbuda,2021-06-04,1263.0,12897.231,428.887,NaN,NaN,NaN,NaN,9.792800e+04,231.845,21490.943,NaN,0.778
3862,ARG,South America,Argentina,2021-06-04,3915397.0,86631.921,1779.171,29.59,23.05,6.54,NaN,4.519578e+07,16.177,18933.907,0.6,0.845

In [66]:
#look at variation in newest dates
newest_dates.groupby("date").count()
#seems unfair to compare data of 4/may/2021 with data of 4/june/2021.Check if all data is available for 4/4 in original list

,iso_code,continent,location,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
date,,,,,,,,,,,,,,,
2021-04-04,1,1,1,0,0,0,1,1,1,1,1,1,1,0,1
2021-04-09,1,1,1,0,0,0,1,1,1,0,1,0,0,0,0
2021-04-14,1,1,1,0,0,0,1,1,1,0,1,0,0,0,0
2021-05-05,1,1,1,0,0,0,1,1,1,0,1,0,0,0,0
2021-05-18,1,1,1,0,0,0,1,1,0,0,1,1,1,0,0
2021-05-27,1,1,1,0,0,0,1,1,1,0,0,0,0,0,0
2021-05-28,5,5,5,0,0,0,5,5,5,0,5,3,1,0,0
2021-05-30,1,1,1,0,0,0,1,1,1,0,1,0,0,0,0
2021-05-31,1,1,1,0,0,0,1,1,1,0,1,1,1,0,0
2021-06-01,6,6,6,0,0,0,6,6,4,0,6,4,2,1,1
2021-06-02,1,1,1,0,0,0,1,1,1,0,1,1,0,0,0
2021-06-03,2,2,2,0,0,0,2,2,2,0,2,2,1,0,0
2021-06-04,207,198,207,201,200,192,65,61,59,13,206,194,187,125,187

In [67]:
#see how many empty in the vaccination-columns 
# --> Way too many! Need another way to extract data.
print(len(newest_dates[newest_dates["total_vaccinations_per_hundred"].isna()]))
print(len(newest_dates[newest_dates["people_vaccinated_per_hundred"].isna()]))

142
146

### idea: take the average values of the 7 days in the dataframe (start: 29 may, last: 4 june)

First delete all the other dates, to see what's left

In [68]:
day_list_str = ["2021-06-04", "2021-06-03", "2021-06-02", "2021-06-01", "2021-05-31", "2021-05-30", "2021-05-29"]

vaccination_finalweek = vaccination_rate[vaccination_rate.date.isin(day_list_str)] 
# vaccination_finalweek.head()
vaccination_finalweek.groupby("date").count()

,iso_code,continent,location,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
date,,,,,,,,,,,,,,,
2021-05-29,218,209,218,201,200,192,105,100,94,116,217,202,191,126,188
2021-05-30,218,209,218,201,200,192,101,97,92,112,217,202,191,126,188
2021-05-31,217,208,217,201,200,192,127,121,113,93,216,202,191,126,188
2021-06-01,216,207,216,201,200,192,121,113,104,23,215,201,190,126,188
2021-06-02,210,201,210,201,200,192,115,110,104,18,209,197,188,125,187
2021-06-03,209,200,209,201,200,192,105,100,95,18,208,196,188,125,187
2021-06-04,207,198,207,201,200,192,65,61,59,13,206,194,187,125,187

In [69]:
#check how many different countries are available: 218
len(vaccination_finalweek["location"].unique())

218

In [70]:
# check how many countries have no vaccination data if I take the average value of the last week.
# --> around 50 which is way better than the 140+ before.
test_count_empty = vaccination_finalweek.groupby("location").mean()

print(len(test_count_empty[test_count_empty["total_vaccinations_per_hundred"].isna()]))
print(len(test_count_empty[test_count_empty["people_vaccinated_per_hundred"].isna()]))

39
48

In [71]:
vaccination_final_avg = vaccination_finalweek.groupby("location").mean().reset_index()
# by doing this you loose: iso_code, continent. These should be re-attached. 

vaccination_final_avg.head(10)

,location,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
0,Afghanistan,7.306571e+04,1876.928714,76.492000,1.575000,1.235000,0.340000,37.96,3.892834e+07,54.422,1803.987,NaN,0.511
1,Africa,4.853711e+06,3620.556000,97.672429,2.467143,1.837143,0.624286,NaN,1.340598e+09,NaN,NaN,NaN,NaN
2,Albania,1.323344e+05,45984.581429,851.543143,27.072500,16.927500,10.145000,NaN,2.877800e+06,104.871,11803.431,1.1,0.795
3,Algeria,1.293270e+05,2949.234286,79.385714,NaN,NaN,NaN,NaN,4.385104e+07,17.348,13913.839,0.5,0.748
4,Andorra,1.372800e+04,177674.238143,1643.694000,46.480000,35.740000,10.750000,43.52,7.726500e+04,163.755,NaN,NaN,0.868
5,Angola,3.475086e+04,1057.341143,23.519714,2.770000,2.070000,0.700000,33.33,3.286627e+07,23.890,5819.495,NaN,0.581
6,Antigua and Barbuda,1.260714e+03,12873.889857,428.887000,51.223333,34.143333,17.076667,NaN,9.792800e+04,231.845,21490.943,NaN,0.778
7,Argentina,3.819542e+06,84511.040429,1741.610286,27.825714,21.562857,6.262857,81.48,4.519578e+07,16.177,18933.907,0.6,0.845
8,Armenia,2.227910e+05,75185.084857,1498.796857,1.130000,1.130000,NaN,NaN,2.963234e+06,102.931,8787.580,1.8,0.776
9,Aruba,NaN,NaN,NaN,107.828333,59.440000,48.386667,48.15,1.067660e+05,584.800,35973.781,NaN,NaN

In [72]:
merge_me = vaccination_rate[["location", "iso_code", "continent"]]
merge_me.head()
merge_me = merge_me.drop_duplicates(subset='location')
len(merge_me)

229

In [73]:
vaccination_week= pd.merge(vaccination_final_avg, merge_me, how="left", on = "location")

print(len(vaccination_week))
print(len(vaccination_final_avg))
print(len(merge_me))

#somewhere 11 coutries get dropped - they apparently have no data for the last week.

218
218
229

In [74]:
#find out which countries get dropped:
vaccination_countries = list(vaccination_week.location.unique())
merge_countries = list(merge_me.location.unique())

no_values_countries = [] #the countries that get dropped, should be 11

for i in range(len(merge_countries)):
    if merge_countries[i] not in vaccination_countries:
        no_values_countries.append(merge_countries[i])
print(no_values_countries, "\n", len(no_values_countries))

#apart from Turmenistan, it are all Islands - relatively small ones. I'll leave them out.

['Anguilla', 'Bonaire Sint Eustatius and Saba', 'British Virgin Islands', 'Falkland Islands', 'Montserrat', 'Nauru', 'Northern Cyprus', 'Saint Helena', 'Sint Maarten (Dutch part)', 'Turkmenistan', 'Turks and Caicos Islands']
 11

### change order of the columns a bit
move iso_code and continent to the front

In [75]:
# NB KEEP location in the dataframe. Other dataframes will be appended to this one by iso_code.
vaccination_week= vaccination_week[['location',
       'iso_code', 'continent', 'total_cases', 'total_cases_per_million',
       'total_deaths_per_million', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'stringency_index', 'population', 'population_density',
       'gdp_per_capita', 'extreme_poverty', 'human_development_index']]

In [76]:
vaccination_week.head()

,location,iso_code,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
0,Afghanistan,AFG,Asia,7.306571e+04,1876.928714,76.492000,1.575000,1.235000,0.340000,37.96,3.892834e+07,54.422,1803.987,NaN,0.511
1,Africa,OWID_AFR,NaN,4.853711e+06,3620.556000,97.672429,2.467143,1.837143,0.624286,NaN,1.340598e+09,NaN,NaN,NaN,NaN
2,Albania,ALB,Europe,1.323344e+05,45984.581429,851.543143,27.072500,16.927500,10.145000,NaN,2.877800e+06,104.871,11803.431,1.1,0.795
3,Algeria,DZA,Africa,1.293270e+05,2949.234286,79.385714,NaN,NaN,NaN,NaN,4.385104e+07,17.348,13913.839,0.5,0.748
4,Andorra,AND,Europe,1.372800e+04,177674.238143,1643.694000,46.480000,35.740000,10.750000,43.52,7.726500e+04,163.755,NaN,NaN,0.868

In [77]:
vaccination_week.rename({"iso_code": "ISO3", "location": "country"}, axis = 1, inplace= True)
vaccination_week.head()

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
0,Afghanistan,AFG,Asia,7.306571e+04,1876.928714,76.492000,1.575000,1.235000,0.340000,37.96,3.892834e+07,54.422,1803.987,NaN,0.511
1,Africa,OWID_AFR,NaN,4.853711e+06,3620.556000,97.672429,2.467143,1.837143,0.624286,NaN,1.340598e+09,NaN,NaN,NaN,NaN
2,Albania,ALB,Europe,1.323344e+05,45984.581429,851.543143,27.072500,16.927500,10.145000,NaN,2.877800e+06,104.871,11803.431,1.1,0.795
3,Algeria,DZA,Africa,1.293270e+05,2949.234286,79.385714,NaN,NaN,NaN,NaN,4.385104e+07,17.348,13913.839,0.5,0.748
4,Andorra,AND,Europe,1.372800e+04,177674.238143,1643.694000,46.480000,35.740000,10.750000,43.52,7.726500e+04,163.755,NaN,NaN,0.868

### change custom ISO3 codes
There are 2 ISO3 codes that need adjusting before merging:
OWID_KOS --> KOS

In [78]:
vaccination_week[vaccination_week.ISO3=="OWID_KOS"]

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
107,Kosovo,OWID_KOS,Europe,107016.285714,55369.270143,1163.095143,3.61,3.61,NaN,40.74,1932774.0,168.155,9795.834,0.6,NaN

In [79]:
vaccination_week.at[107, "ISO3"] = "KOS"

In [80]:
vaccination_week[vaccination_week.ISO3=="KOS"]

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
107,Kosovo,KOS,Europe,107016.285714,55369.270143,1163.095143,3.61,3.61,NaN,40.74,1932774.0,168.155,9795.834,0.6,NaN

# MERGING THE  DATAFRAMES
merging on country ISO3-code
dataframes:
<ol>
    <li> merged (=vaccin used and country government type)</li>
    <li> vaccination_week </li>
    <li> pop_dens </li>
    <li> inequality_cleaned </li>
    <li> corruption </li>
    <li> healtcare </li>
    </ol>

In [81]:
merged.head(1)

,country_x,system,system_extra,ISO3,Vaccines,Sputnik,Sinopharm,Sinovac,AstraZeneca,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona
0,Afghanistan,presidential Islamic republic,None,AFG,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",0,1,0,1,0,1,0,0,0,0,0,0,0,0

In [82]:
vaccination_week.head(1)

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,gdp_per_capita,extreme_poverty,human_development_index
0,Afghanistan,AFG,Asia,73065.714286,1876.928714,76.492,1.575,1.235,0.34,37.96,38928341.0,54.422,1803.987,NaN,0.511

In [83]:
# merge vaccination_week and merged
vaccination = pd.merge(vaccination_week, merged, how="outer", on=["ISO3"])
print("merged:", len(merged), "\nvaccination_week:", len(vaccination_week), "\nvaccination", len(vaccination))
vaccination.head()

merged: 241
vaccination_week: 218
vaccination 251

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona
0,Afghanistan,AFG,Asia,7.306571e+04,1876.928714,76.492000,1.575000,1.235000,0.340000,37.96,...,0,1,0,0,0,0,0,0,0,0
1,Africa,OWID_AFR,NaN,4.853711e+06,3620.556000,97.672429,2.467143,1.837143,0.624286,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,ALB,Europe,1.323344e+05,45984.581429,851.543143,27.072500,16.927500,10.145000,NaN,...,0,1,0,0,0,0,0,0,0,0
3,Algeria,DZA,Africa,1.293270e+05,2949.234286,79.385714,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Andorra,AND,Europe,1.372800e+04,177674.238143,1643.694000,46.480000,35.740000,10.750000,43.52,...,0,1,0,0,0,0,0,0,0,0

In [84]:
vaccination[["country", "ISO3", "country_x"]].tail() #countries with no name in country, should get this name from country_x

    country               ISO3                  country_x
246     NaN                CYN            Northern Cyprus
247     NaN  GBR_north_ireland           Northern Ireland
248     NaN       GBR_scotland                   Scotland
249     NaN                SXM  Sint Maarten (Dutch part)
250     NaN          GBR_wales                      Wales

In [85]:
vaccination.country.fillna(vaccination.country_x, inplace=True) #empty values in country get filled with country_x

In [86]:
vaccination.tail() #check if it worked:

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,QazVac,Pfizer,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona
246,Northern Cyprus,CYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
247,Northern Ireland,GBR_north_ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,1,0,0,0,0,0,0
248,Scotland,GBR_scotland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,1,0,0,0,0,0,0
249,Sint Maarten (Dutch part),SXM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,1,0,0,0,0,0,0
250,Wales,GBR_wales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,1,0,0,0,0,0,0

In [87]:
#check is no duplicates in ISO3 appeared
print(len(vaccination))
len(vaccination.ISO3.unique())

251

251

In [88]:
# drop country_x

vaccination.drop(columns=["country_x"], axis = 1, inplace = True)

#### merge vaccination and pop_dens into vaccination2

In [89]:
#Kosovo had ISO3 XKX, in the pop_dens dataframe while in other dataframes this is KOS. Fix this before merging
pop_dens[pop_dens["ISO3"]=="XKX"] #XKX is located at index 259

    country ISO3  pop_dens_2018
259  Kosovo  XKX            NaN

In [90]:
pop_dens[pop_dens["ISO3"]=="KOS"] #double check if there isnt a KOS already..

Empty DataFrame
Columns: [country, ISO3, pop_dens_2018]
Index: []

In [91]:
pop_dens["ISO3"].iloc[259]="KOS"
pop_dens[pop_dens["ISO3"]=="KOS"]

C:\Users\jetsa\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

    country ISO3  pop_dens_2018
259  Kosovo  KOS            NaN

In [92]:
vaccination2 = pd.merge(vaccination, pop_dens, how= 'outer', on=["ISO3"])
print("pop_dens:", len(pop_dens), "\nvaccination:", len(vaccination), "\nvaccination2", len(vaccination2))
vaccination2.head()

pop_dens: 264
vaccination: 251
vaccination2 299

,country_x,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country_y,pop_dens_2018
0,Afghanistan,AFG,Asia,7.306571e+04,1876.928714,76.492000,1.575000,1.235000,0.340000,37.96,...,0,0,0,0,0,0,0,0,Afghanistan,56.937760
1,Africa,OWID_AFR,NaN,4.853711e+06,3620.556000,97.672429,2.467143,1.837143,0.624286,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,ALB,Europe,1.323344e+05,45984.581429,851.543143,27.072500,16.927500,10.145000,NaN,...,0,0,0,0,0,0,0,0,Albania,104.612263
3,Algeria,DZA,Africa,1.293270e+05,2949.234286,79.385714,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,Algeria,17.730068
4,Andorra,AND,Europe,1.372800e+04,177674.238143,1643.694000,46.480000,35.740000,10.750000,43.52,...,0,0,0,0,0,0,0,0,Andorra,163.842553

In [93]:
vaccination2.tail()

,country_x,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,Dimer,Moderna,Johnson,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,country_y,pop_dens_2018
294,NaN,TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Middle East & North Africa (IDA & IBRD countries),43.812925
295,NaN,TSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Asia (IDA & IBRD),380.314882
296,NaN,TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries),45.207203
297,NaN,UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Upper middle income,49.229705
298,NaN,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,World,58.422999

When country_x has no value, take the value of country_y

In [94]:
vaccination2.country_x.fillna(vaccination2.country_y, inplace=True)

In [95]:
vaccination2[["country_y", "country_x"]].tail()

,country_y,country_x
294,Middle East & North Africa (IDA & IBRD countries),Middle East & North Africa (IDA & IBRD countries)
295,South Asia (IDA & IBRD),South Asia (IDA & IBRD)
296,Sub-Saharan Africa (IDA & IBRD countries),Sub-Saharan Africa (IDA & IBRD countries)
297,Upper middle income,Upper middle income
298,World,World

In [96]:
vaccination2.drop(columns=["country_y"], inplace=True)

In [97]:
vaccination2.columns

Index(['country_x', 'ISO3', 'continent', 'total_cases',
       'total_cases_per_million', 'total_deaths_per_million',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index', 'population',
       'population_density', 'gdp_per_capita', 'extreme_poverty',
       'human_development_index', 'system', 'system_extra', 'Vaccines',
       'Sputnik', 'Sinopharm', 'Sinovac', 'AstraZeneca', 'QazVac', 'Pfizer',
       'Dimer', 'Moderna', 'Johnson', 'Abdala', 'Soberana', 'CoVaxin',
       'CanSino', 'EpiVacCorona', 'pop_dens_2018'],
      dtype='object')

In [98]:
#rename country_x to country
vaccination2.columns = ['country', 'ISO3', 'continent', 'total_cases',
       'total_cases_per_million', 'total_deaths_per_million',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index', 'population',
       'population_density', 'gdp_per_capita', 'extreme_poverty',
       'human_development_index', 'system', 'system_extra', 'Vaccines',
       'Sputnik', 'Sinopharm', 'Sinovac', 'AstraZeneca', 'QazVac', 'Pfizer',
       'Dimer', 'Moderna', 'Johnson', 'Abdala', 'Soberana', 'CoVaxin',
       'CanSino', 'EpiVacCorona', 'pop_dens_2018']

### merge vaccination2 and inequality

In [99]:
#Kosovo had country code XKX, in the pop_dens dataframe while in other dataframes this is KOS. Fix this before merging
inequality_cleaned[inequality_cleaned["Country Code"]=="XKX"]

     Year_GINI  GINI Country Name Country Code
1843      2017  29.0       Kosovo          XKX

In [100]:
inequality_cleaned.loc[inequality_cleaned["Country Name"] == "Kosovo", "Country Code"]="KOS"
inequality_cleaned[inequality_cleaned["Country Code"]=="KOS"]

C:\Users\jetsa\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

     Year_GINI  GINI Country Name Country Code
1843      2017  29.0       Kosovo          KOS

In [101]:
vaccination3 = pd.merge(vaccination2, inequality_cleaned, how= 'outer', left_on=["ISO3"], right_on=["Country Code"])
print("inequality_cleaned:", len(inequality_cleaned), "\nvaccination3:", len(vaccination3), "\nvaccination2", len(vaccination2))
vaccination3.head()

inequality_cleaned: 148
vaccination3: 299
vaccination2 299

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,pop_dens_2018,Year_GINI,GINI,Country Name,Country Code
0,Afghanistan,AFG,Asia,7.306571e+04,1876.928714,76.492000,1.575000,1.235000,0.340000,37.96,...,0,0,0,0,0,56.937760,NaN,NaN,NaN,NaN
1,Africa,OWID_AFR,NaN,4.853711e+06,3620.556000,97.672429,2.467143,1.837143,0.624286,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,ALB,Europe,1.323344e+05,45984.581429,851.543143,27.072500,16.927500,10.145000,NaN,...,0,0,0,0,0,104.612263,2017,33.2,Albania,ALB
3,Algeria,DZA,Africa,1.293270e+05,2949.234286,79.385714,NaN,NaN,NaN,NaN,...,0,0,0,0,0,17.730068,2011,27.6,Algeria,DZA
4,Andorra,AND,Europe,1.372800e+04,177674.238143,1643.694000,46.480000,35.740000,10.750000,43.52,...,0,0,0,0,0,163.842553,NaN,NaN,NaN,NaN

In [102]:
vaccination3.tail()

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,Abdala,Soberana,CoVaxin,CanSino,EpiVacCorona,pop_dens_2018,Year_GINI,GINI,Country Name,Country Code
294,Middle East & North Africa (IDA & IBRD countries),TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,43.812925,NaN,NaN,NaN,NaN
295,South Asia (IDA & IBRD),TSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,380.314882,NaN,NaN,NaN,NaN
296,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.207203,NaN,NaN,NaN,NaN
297,Upper middle income,UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,49.229705,NaN,NaN,NaN,NaN
298,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.422999,NaN,NaN,NaN,NaN

In [103]:
vaccination3.drop(columns = ["Country Name", "Country Code"], inplace = True)

In [104]:
vaccination3.columns

Index(['country', 'ISO3', 'continent', 'total_cases',
       'total_cases_per_million', 'total_deaths_per_million',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index', 'population',
       'population_density', 'gdp_per_capita', 'extreme_poverty',
       'human_development_index', 'system', 'system_extra', 'Vaccines',
       'Sputnik', 'Sinopharm', 'Sinovac', 'AstraZeneca', 'QazVac', 'Pfizer',
       'Dimer', 'Moderna', 'Johnson', 'Abdala', 'Soberana', 'CoVaxin',
       'CanSino', 'EpiVacCorona', 'pop_dens_2018', 'Year_GINI', 'GINI'],
      dtype='object')

### merging vaccination2 with corruption (CPI)

In [105]:
#in corruption, kosovo is abbreviated as KSV. In other places it's KOS.

corruption[corruption["ISO3"]=='KSV']

    Country ISO3 Region  CPI score 2020
107  Kosovo  KSV    ECA              36

In [106]:
corruption.loc[corruption["Country"] == "Kosovo", "ISO3"]="KOS"
corruption[corruption["ISO3"]=="KOS"]

    Country ISO3 Region  CPI score 2020
107  Kosovo  KOS    ECA              36

In [107]:
vaccination4 = pd.merge(vaccination3, corruption, how= 'outer', on=["ISO3"])
print("corruption:", len(corruption), "\nvaccination3:", len(vaccination3), "\nvaccination4", len(vaccination4))
vaccination4.tail()

corruption: 180
vaccination3: 299
vaccination4 299

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,Soberana,CoVaxin,CanSino,EpiVacCorona,pop_dens_2018,Year_GINI,GINI,Country,Region,CPI score 2020
294,Middle East & North Africa (IDA & IBRD countries),TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,43.812925,NaN,NaN,NaN,NaN,NaN
295,South Asia (IDA & IBRD),TSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,380.314882,NaN,NaN,NaN,NaN,NaN
296,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.207203,NaN,NaN,NaN,NaN,NaN
297,Upper middle income,UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.229705,NaN,NaN,NaN,NaN,NaN
298,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58.422999,NaN,NaN,NaN,NaN,NaN

In [108]:
vaccination4.drop(columns= "Country", inplace= True)

In [109]:
vaccination4.columns

Index(['country', 'ISO3', 'continent', 'total_cases',
       'total_cases_per_million', 'total_deaths_per_million',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index', 'population',
       'population_density', 'gdp_per_capita', 'extreme_poverty',
       'human_development_index', 'system', 'system_extra', 'Vaccines',
       'Sputnik', 'Sinopharm', 'Sinovac', 'AstraZeneca', 'QazVac', 'Pfizer',
       'Dimer', 'Moderna', 'Johnson', 'Abdala', 'Soberana', 'CoVaxin',
       'CanSino', 'EpiVacCorona', 'pop_dens_2018', 'Year_GINI', 'GINI',
       'Region', 'CPI score 2020'],
      dtype='object')

#### merging vaccination4 and healthcare_GDP

In [110]:
healthcare.columns

Index(['Country Name', 'ISO3', 'HealthCare_GDP'], dtype='object')

In [111]:
#again, kosovo has other ISO3 code

healthcare[healthcare["ISO3"]=='XKX']

    Country Name ISO3 HealthCare_GDP
259       Kosovo  XKX            NaN

In [112]:
healthcare.loc[healthcare["Country Name"] == "Kosovo", "ISO3"]="KOS"
healthcare[healthcare["ISO3"]=="KOS"]

    Country Name ISO3 HealthCare_GDP
259       Kosovo  KOS            NaN

In [113]:
vaccination5 = pd.merge(vaccination4, healthcare, how= 'outer', on=["ISO3"])
print("healthcare:", len(healthcare), "\nvaccination4:", len(vaccination4), "\nvaccination5", len(vaccination5))
vaccination5.tail()

healthcare: 264
vaccination4: 299
vaccination5 299

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,CoVaxin,CanSino,EpiVacCorona,pop_dens_2018,Year_GINI,GINI,Region,CPI score 2020,Country Name,HealthCare_GDP
294,Middle East & North Africa (IDA & IBRD countries),TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.812925,NaN,NaN,NaN,NaN,Middle East & North Africa (IDA & IBRD countries),6.53196
295,South Asia (IDA & IBRD),TSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,380.314882,NaN,NaN,NaN,NaN,South Asia (IDA & IBRD),3.48223
296,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.207203,NaN,NaN,NaN,NaN,Sub-Saharan Africa (IDA & IBRD countries),5.0846
297,Upper middle income,UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.229705,NaN,NaN,NaN,NaN,Upper middle income,5.73979
298,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,58.422999,NaN,NaN,NaN,NaN,World,9.84878

In [114]:
vaccination5.drop(columns=["Country Name"], inplace=True)

In [115]:
# add column that counts the number of different vaccins used

vaccination5["nr_vaccins"] = vaccination5[['Sputnik', 'Sinopharm', 'Sinovac', 'AstraZeneca', 'QazVac',
        'Pfizer', 'Dimer', 'Moderna', 'Johnson', 'Abdala', 'Soberana',
        'CoVaxin', 'CanSino', 'EpiVacCorona']].sum(axis=1)

In [116]:
vaccination5.columns

Index(['country', 'ISO3', 'continent', 'total_cases',
       'total_cases_per_million', 'total_deaths_per_million',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index', 'population',
       'population_density', 'gdp_per_capita', 'extreme_poverty',
       'human_development_index', 'system', 'system_extra', 'Vaccines',
       'Sputnik', 'Sinopharm', 'Sinovac', 'AstraZeneca', 'QazVac', 'Pfizer',
       'Dimer', 'Moderna', 'Johnson', 'Abdala', 'Soberana', 'CoVaxin',
       'CanSino', 'EpiVacCorona', 'pop_dens_2018', 'Year_GINI', 'GINI',
       'Region', 'CPI score 2020', 'HealthCare_GDP', 'nr_vaccins'],
      dtype='object')

In [117]:
#check the data: what do we have at hand?
print(vaccination5.shape)

#299 rows whils there are 195 countries in the world. That's strange to say the least. Investigate a little further.

print(len(vaccination5["country"].unique()))
print(len(vaccination5["ISO3"].unique()))
print(len(vaccination5["ISO3"]))

#weird: more (unique) ISO3's than unique countries.. Investigate a little further in the next cell

(299, 39)
295
299
299

In [119]:
country_list = list(vaccination5["country"].sort_values())
print(country_list)

#eyeballing the list:
#length: lot's of non-country entries like "arab world", "asia", "Central Europe & baltics" etc. This makes the dataframe a lot longer than 195.
# difference in unique countries& unique ISO3's: European Union occurs twice, North America and world aswell. More problematic: Romania does too.

#check out Romania:
print(vaccination5[vaccination5["country"]=="Romania"]) #Romania has as ROU and as ROM as ISO3. Use just one of these and 'transfer' the data of the other to this one.

['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Caribbean small states', 'Cayman Islands', 'Central African Republic', 'Central Europe and the Baltics', 'Chad', 'Channel Islands', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Early-demographic dividend', 'East Asia & Pacific', 'East Asia & Pacific (IDA & IBRD countries)', 'East Asia & Pacific (excluding high income)', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Euro area', 'Europe', 'Europe & Central Asia', 'Europe & Central Asia (IDA & IBRD countries)', 'Europe & Central Asia (excluding high income)', 'European Union', 'European Union', 'Faeroe Islands', 'Falkland Islands (Islas Malvinas)', 'Fiji', 'Finland', 'Fragile and conflict affected situations', 'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heavily indebted poor countries (HIPC)', 'High income', 'Honduras', 'Hong Kong', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Late-demographic dividend', 'Latin America & Caribbean', 'Latin America & Caribbean (excluding high income)', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia', 'Least developed countries: UN classification', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low & middle income', 'Low income', 'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)', 'Middle East & North Africa', 'Middle East & North Africa (IDA & IBRD countries)', 'Middle East & North Africa (excluding high income)', 'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North America', 'North America', 'North Macedonia', 'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands', 'Norway', 'Not classified', 'OECD members', 'Oceania', 'Oman', 'Other small states', 'Pacific island small states', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland', 'Portugal', 'Post-demographic dividend', 'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy', 'Saint Helena, Ascension, and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Small states', 'Solomon Islands', 'Somalia', 'South Africa', 'South America', 'South Asia', 'South Asia (IDA & IBRD)', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname', 'Svalbard', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Virgin Islands', 'Wales', 'Wallis and Futuna', 'World', 'World', 'Yemen', 'Zambia', 'Zimbabwe']
     country ISO3 continent   total_cases  total_cases_per_million  \
161  Romania  ROU    Europe  1.077967e+06             56034.134429
235  Romania  ROM       NaN           NaN                      NaN

     total_deaths_per_million  total_vaccinations_per_hundred  \
161               1579.593429                       41.043333
235                       NaN                             NaN

     people_vaccinated_per_hundred  people_fully_vaccinated_per_hundred  \
161                      22.501667                                19.18
235                            NaN                                  NaN

     stringency_index  ...  CoVaxin  CanSino  EpiVacCorona  pop_dens_2018  \
161             48.15  ...      NaN      NaN           NaN      84.633801
235               NaN  ...        0        0             0            NaN

     Year_GINI  GINI Region CPI score 2020 HealthCare_GDP nr_vaccins
161       2018  35.8  WE/EU           44.0        5.55661        0.0
235        NaN   NaN    NaN            NaN            NaN        4.0

[2 rows x 39 columns]

In [120]:
vaccination5[vaccination5["ISO3"] == "ROM"]

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,CoVaxin,CanSino,EpiVacCorona,pop_dens_2018,Year_GINI,GINI,Region,CPI score 2020,HealthCare_GDP,nr_vaccins
235,Romania,ROM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,4.0

In [121]:
#fix Romania - fill the NaNvalues in index 235 (ROM) with values of index 161 (ROU)

for i in range(len(vaccination5.columns)):
    if pd.isnull(vaccination5.iloc[235, i]) == True:
        vaccination5.iloc[235, i] = vaccination5.iloc[161, i]

In [122]:
vaccination5[vaccination5["ISO3"] == "ROM"] #check if it worked out

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,CoVaxin,CanSino,EpiVacCorona,pop_dens_2018,Year_GINI,GINI,Region,CPI score 2020,HealthCare_GDP,nr_vaccins
235,Romania,ROM,Europe,1.077967e+06,56034.134429,1579.593429,41.043333,22.501667,19.18,48.15,...,0,0,0,84.633801,2018,35.8,WE/EU,44.0,5.55661,4.0

In [123]:
vaccination5.drop([161], axis = 0, inplace=True) #drop the other Romania
vaccination5[vaccination5["country"]== "Romania"] #check if it went oke

,country,ISO3,continent,total_cases,total_cases_per_million,total_deaths_per_million,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,...,CoVaxin,CanSino,EpiVacCorona,pop_dens_2018,Year_GINI,GINI,Region,CPI score 2020,HealthCare_GDP,nr_vaccins
235,Romania,ROM,Europe,1.077967e+06,56034.134429,1579.593429,41.043333,22.501667,19.18,48.15,...,0,0,0,84.633801,2018,35.8,WE/EU,44.0,5.55661,4.0

In [124]:
vaccination5.to_csv('./data/covid.csv', index=False)